body {
  margin: 0;
}

.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background: #EAEBED;
  box-shadow: 16px 0px 40px rgba(234, 235, 237, 0.2);
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #2E424D;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.container {
  display: block;
  width: 100%;
  height: 820px;
  margin: 0 auto;
}

.left {
  width: 40%;
  float: left;
  background: #2e424d;
  height: 1150px;
}

.search-container {
  padding-left: 40px;
  padding-top: 33px;
  width: 85%;
  height: 35px;
}

.details {
  position: relative;
  display: grid;
  align-items: center;
  gap: 10px;
}

.search-box {
  height: 65px;
}

.search-bar {
  position: relative;
  width: 65%;
  top: 3%;
  left: 17%;
  background: rgba(213, 213, 213, 0.86);
  border-radius: 15px;
}

.search-span {
  position: relative;
  display: inline-flex;
  left: 3%;
  top: 15%;
  align-items: center;
}

input:focus {
  outline:none;
  background: rgba(213, 213, 213, 0.86);
}

.search-ico {
  position: relative;
  width: 82%;
  padding-top: 2%;
  background: rgba(213, 213, 213, 0.25);
  border: none;
}

.input-ico {
  width: 23px;
  height: 23px;
}

.image {
  position: relative;
  width: 90%;
  padding-top: 15px;
  margin: 0 auto;
  height: 400px;
  filter: drop-shadow(-10px 10px 40px rgba(234, 235, 237, 0.2));
  border-radius: 15px !important;
}

.name {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: #eaebed;
  padding-left: 15px;
}

.desc {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding-left: 15px;
  color: #eaebed;
  padding-right: 15px;
}

.address::before {
  content: url("../resources/icon_address_white.svg");
  width: 20px;
  height: 20px;
  padding-right: 15px;
}

.address {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #eaebed;
  padding-left: 15px;
}

.opening-hour::before {
  content: url("../resources/icon_calendar_white.svg");
  width: 20px;
  padding-right: 15px;
}

.opening-hour {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #eaebed;
  padding-left: 15px;
}

.contact-ico {
  position: relative;
  display: inline-flex;
  align-items: center;
  clear: left;
  gap: 15px;
  padding-left: 15px;
}

.summary {
  margin: 0;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 163.42%;
  color: #eaebed;
  padding-left: 15px;
  padding-right: 15px;
}

.right {
  width: 60%;
  float: right;
}

.graph {
  position: relative;
  width: 100%;
  height: 400px;
  display: block;
  margin: 0 auto;
}

h2 {
  padding-left: 30px;
  display: flex;
  position: relative;
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  margin: 10px;
}

.categories {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.category {
  min-width: 350px;
  max-width: 350px;
}

.cat-title {
  display: inline;

  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2E424D;
}

.review-content {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 163.42%;

  text-align: justify;
  color: #000000;
}

.face {
  width: 30px;
  height: 30px;
  float: right;
}

.service-ico::before {
  content: url("../resources/category_food.svg");
  padding-right: 10px;
}

.clean-ico::before {
  content: url("../resources/category_cleanliness.svg");
  padding-right: 10px;
}

.food-ico::before {
  content: url("../resources/category_service.svg");
  padding-right: 10px;
}

.price-ico::before {
  content: url("../resources/category_price.svg");
  padding-right: 10px;
}

.ambience-ico::before {
  content: url("../resources/category_ambience.svg");
  padding-right: 10px;
}

span {
  display: inline;
}