html {
  background-color: white;
}

.rectangle {
  position: relative;
  width: 551px;
  height: 1024px;
  left: 0px;
  top: 0px;

  background: #2e424d;
}

.search-box {
  height: 65px;
}

.search-bar {
  position: absolute;
  width: 65%;
  height: 4%;
  top: 3%;
  left: 17%;
  background: rgba(213, 213, 213, 0.86);
  border-radius: 15px;
}

span {
  position: relative;
  display: inline-flex;
  left: 3%;
  top: 15%;
  align-items: center;
}

input:focus {
  outline:none;
  background: rgba(213, 213, 213, 0.86);
}

.search-ico {
  position: relative;
  left: 5%;
  padding-top: 2%;
  background: rgba(213, 213, 213, 0.25);
  
  border: none;
  width: 200px;
  outline: none;
}

.input-ico {
  width: 23px;
  height: 23px;
}

.image {
  position: relative;
  object-fit: contain;
  width: 502px;
  height: 337px;
  left: 4%;
  top: 100px;

  filter: drop-shadow(-10px 10px 40px rgba(234, 235, 237, 0.2));
  border-radius: 15px;
}

.name {
  position: relative;
  width: 492px;
  height: 40px;
  left: 20px;
  top: 115px;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: #eaebed;
}

.desc {
  position: relative;
  width: 490px;
  height: 48px;
  left: 20px;
  top: 14%;

  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  /* or 122% */

  color: #eaebed;
}

.address::before {
  content: url("../resources/icon_address_white.svg");
  width: 20px;
  height: 20px;
  padding-right: 15px;
}

.address {
  position: relative;
  width: 461.23px;
  height: 40px;
  left: 24px;
  top: 18%;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #eaebed;
}

.opening-hour::before {
  content: url("../resources/icon_calendar_white.svg");
  width: 20px;
  padding-right: 15px;
}

.opening-hour {
  position: relative;
  width: 461.23px;
  height: 40px;
  left: 24px;
  top: 19%;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #eaebed;
}

.contact-ico {
  float: left;
  top: 21%;
  gap: 10px;
  left: 20px;
}

.summary {
  position: relative;
  clear: left;
  width: 497px;
  height: 176px;
  left: 17px;
  top: 23%;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 163.42%;
  color: #eaebed;

  color: #eaebed;
}
