<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}" />
    {% endblock %}
  </head>
  <body>
    {% block navbar %}
    <nav class="navbar">
      <div class="nav-left">
          <ul>
              <li><a href="#">Logo</a></li>
          </ul>
      </div>
      <div class="nav-right">
        <ul>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('about_us') }}">About Us</a></li>
          <div class="search-button">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('search') }}">Get Started</a></li>
          </div>
          </ul>
      </div>
    {% endblock %}
    
    <!-- Your page content -->
    {% block content %}
      <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-info" role="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}
        {% endblock %}
      </div>
    {% endblock %}
    
  </body>
</html>