{% block app_content %}
    <body>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/details.css') }}" />
        
        {% if entity and sentiment %}
        <div class="container">
        <div class="rectangle">
            <form name="form", method="POST">
                <div class="search-bar">
                    <span class="search-span"><img src="../static/resources/icon_search.svg" class="input-ico">
                    <input type="text" name="search_terms" class="search-ico" placeholder="Find cafes, restaurants, and more..."></span>
                </div>
            </form>

            <div class="details">
                <img class="image" src="{{ entity.picture_url }}"/>
                <h1 class="name">{{ entity.name }}</h1>
                <div class="desc">
                    {{entity.description|e}}
                </div>
                <div class="address">
                    {{entity.address|e}}
                </div>
                <div class="opening-hour">
                    Open 24 hours
                </div>

                <span class="contact-ico">
                    <div class="contact-phone">
                        <img src="../static/resources/icon_phone_grey.svg">
                    </div>
                    <div class="contact-mail">
                        <img src="../static/resources/icon_email_grey.svg">
                    </div>
                    <div class="website">
                        <img src="../static/resources/icon_globe_grey.svg">
                    </div>
                </span>
    
                <p class="summary"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget...e</p>
            </div>
        </div>

        <div class="analysis">
            <h2>Overview</h2>
            <img class="graph" src="../static/resources/logo_aiyou.svg">
            <h2 style="clear:left;">Categories</h2>
            <div class="categories">
                <div class="category">
                    <h3 class="cat-title service-ico">Services</h3>
                    <img class="head" src="../static/resources/sentiment_good.svg">
                    <hr>
                    <p>Bryan</p>
                    <p>September 2022</p>
                    <p>Lorem ipsum kdjafjdkljakfdksaafdkasfkdlsafkdalf</p>
                </div>
                <div class="category">
                    <h3 class="cat-title food-ico">Services</h3>
                    <img class="head" src="../static/resources/sentiment_good.svg">
                    <hr>
                    <p>Bryan</p>
                    <p>September 2022</p>
                    <p>Lorem ipsum kdjafjdkljakfdksaafdkasfkdlsafkdalf</p>
                </div>
                <div class="category">
                    <h3 class="cat-title clean-ico">Services</h3>
                    <img class="head" src="../static/resources/sentiment_good.svg">
                    <hr>
                    <p>Bryan</p>
                    <p>September 2022</p>
                    <p>Lorem ipsum kdjafjdkljakfdksaafdkasfkdlsafkdalf</p>
                </div>
                <div class="category">
                    <h3 class="cat-title price-ico">Services</h3>
                    <img class="head" src="../static/resources/sentiment_good.svg">
                    <hr>
                    <p>Bryan</p>
                    <p>September 2022</p>
                    <p>Lorem ipsum kdjafjdkljakfdksaafdkasfkdlsafkdalf</p>
                </div>
            </div>
        </div>
        </div>
    </div>

        {% else %}

        <a href="{{ url_for('index') }}" class="logo">
            <img class="greeting" style="display: block; margin: 0 auto !important; align-items: center; padding-top:200px;" src="../static/resources/logo_aiyou.svg">
        </a>
        <p style="text-align: center; font-family: 'Lexend'; padding-left: 40px;">Hey buddy, I think you got lost!<br><br>Click on me to go back Home."</p>
        
        {% endif %}
        
    </body>

{% endblock %}