{% extends "base.html" %}

{% block app_content %}
    <body>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/search.css') }}" />
        <form name="form", method="POST">
            <div class="search-bar">
                <input type="text" name="search_terms" placeholder="Find cafes, restaurants, and more...">
            </div>
        </form>
        {% for idx in range(output|length) %}
        <p style="text-align: center;">
            {{output[idx]}}
        </p>
        {% endfor %}

        <!-- {% if cards %}
        {% endif %} -->

        
    </body>

{% endblock %}